* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 70vh;
}

#todaysWeather {
    background-image: url(../images/cumulus-cloud.jpg);
    background-size: cover;
    color: rgb(11, 0, 168);
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    border-radius: 20px;  
    box-shadow: 0 0 5px 5px inset white; 
}

#todaysWeather h6 {
    margin-top: 6px;
}

.iconBox {
    background-color: rgba(39, 0, 179, 0.788);
    border-radius: 50%;
    box-shadow: 0 0 3px 3px rgba(39, 0, 179, 0.788);
}

.iconBoxAdjust {
    width: 70px;
    height: 70px;
}

p {
    font-size: 0.7rem;
}

#fiveDayForecast h6 {
    font-size: 0.8rem;
}

footer i {
    color: yellow;
}