* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    color: white;
    text-shadow: 3px 3px 3px rgb(16, 16, 134);
    text-align: center;
    margin: auto;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

i {
    color: white;
    font-size: 1.2rem;
    text-shadow: 3px 3px 3px rgb(16, 16, 134);
}

hr {
   background-color: rgb(16, 16, 134); 
   height: 3px;
   border-radius: 1.5px;
}

#searchItems div {
    color: white;
    text-shadow: 3px 3px 3px rgb(16, 16, 134);
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid white;
    text-align: center;
    padding: 0;
    margin: 0;
}

#todaysWeather {
    background-image: url(../images/cumulus-cloud.jpg);
    background-size: cover;
    color: rgb(11, 0, 168);
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    border-radius: 10px;
}

#cityName {
    font-size: 1.4rem;
}

#todayDate {
    font-size: 1rem;
}

#updateTime {
    font-size: 0.7rem;
}

#fiveDayForecast .card{
    height: 200px;
    border: 2px solid white;
}

#mainWeatherIconBox {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border-radius: 50%;
}

.todaysWeatherDetailsIcons {
    width: 100%;
    max-width: 64px;
    padding: 4px;
}

.detailsImageBox {
    background-color: rgba(17, 0, 172, 0.8);
    border-radius: 50%;
    max-width: 64px;
}

.detailsInfo {
    font-weight: bolder;
    margin-top: 5px;
}

.detailsLabel {
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: -12px;
}